    <div class="credits text-center">
        <p>
            
        </p>
        <p>
            <h3>NavMe.com</h3>
            <a >I go where the Offers are!!</a>
        </p>
    </div>
</body>
</html>